<template>
	<div>
		<el-row >
			<el-col :span="24"><h1>Administración de contenido de ayuda</h1></el-col>
			<br>
			<el-form ref="form" :model="form" label-width="150px">
			
			  <el-form-item label="Tipo de ayuda:">
				    <el-select v-model="form.region" placeholder="Seleccione un tipo">
				      <el-option label="Contenido" value="contenido"></el-option>
				      <el-option label="Liga" value="liga"></el-option>
				      <el-option label="Archivo" value="archivo"></el-option>
				    </el-select>
			  </el-form-item>
			</el-col>
			  	<br>

				<el-form-item label="Nombre de sección:">
				  <el-col :span="12">
				    <el-input v-model="form.name" placeholder="Nombre de la sección"></el-input>
				  </el-col>
				</el-form-item>

				<br>

				<el-col :span="24"><h3>Carga de archivo de ayuda</h3></el-col>

				<el-form-item label="Seleccione archivo:">
				  <el-col :span="12">
				    <el-input v-model="form.name" placeholder="Nombre de la sección"></el-input>
				  </el-col>
				  <el-col :span="3" :offset="1">
				   	<el-button type="primary" icon="el-icon-search">Search</el-button>
				  </el-col>
				</el-form-item>

				<br>

				<el-col :span="24"><h3>Carga de links de ayuda</h3></el-col>

				<el-form-item label="Seleccione archivo:">
				  <el-col :span="12">
				    <el-input placeholder="" v-model="input3">
					    <template slot="prepend">Http://</template>
					</el-input>
				  </el-col>
				  <el-col :span="3" :offset="1">
				   	<el-button type="primary">Guardar</el-button>
				  </el-col>
				</el-form-item>

				<br>

				<el-col :span="24"><h3>Carga de links de contenido</h3></el-col>

				<el-form-item label="Seleccione archivo:">
				  <el-col :span="12">
				    <el-input type="textarea" :rows="3" placeholder="Escriba el contenido" v-model="textarea">
					</el-input>
				  </el-col>
				  <el-col :span="3" :offset="1">
				   	<el-button type="primary">Guardar</el-button>
				  </el-col>
				</el-form-item>
			  

			</el-form>
		</el-row>
	</div>
</template>

<script>

	export default {
		components: {
		},
		data() {
			return {
				form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        }
			}
		},
		mounted() {
			
		},
		methods: {
			onSubmit() {
		      console.log('submit!');
		    }		
		}
	}
</script>

<style>
	.box-card {
		margin-bottom: 16px;
		box-shadow: none;
	}
	.box-content {
		margin: 0; padding: 0;
	}
	.title-percentage {
		display: block;
		text-align: left;
		padding: 0.35em 0;
	}
	.chart-container > .el-card__body{
		margin: 0; padding: 0;
	}
	
</style>

