body {
	overflow: hidden;
	font-family: "Soberana", sans-serif;
	min-width: 1024px !important;
}

.chart-container {
	font-family: "Soberana", sans-serif;
}

.chart-container .graphics {
	padding-top: 0;
}

.el-form--label-top .el-form-item__label {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.el-form {
	margin-bottom: 22px !important;
}

.el-form-item {
	margin-bottom: 0 !important;
}