<template>
	<el-container>
		<el-header>
			<el-row type="flex" justify="space-between">
				<el-col :sm="6" :md="6">
					<b class="logo-gmm" @click="goToPanel">SISTEMA DE PROTECCIÓN CONSULAR</b>
				</el-col>
				<el-col :sm="6" :md="7">
					<el-input
						class="input-search"
						size="small"
						placeholder="Buscar"
						prefix-icon="el-icon-search">
					</el-input>
				</el-col>
				<el-col :sm="12" :md="11">
					<el-menu
						:router="true"
						class="header-menu"
						mode="horizontal"
						background-color="#434A54"
						text-color="#FFFFFF"
						active-text-color="#FFFFFF"
						style="float: right;">
						<el-menu-item
							index="#notificaciones"
							class="border-menu-item">
							<el-dropdown trigger="click">
								<span>
									<el-badge is-dot>
										<i class="far fa-bell fa-lg"></i>
									</el-badge>
								</span>
								<el-dropdown-menu slot="dropdown">
									<el-dropdown-item class="clearfix">
										<span @click="goToMovements">Movimientos</span>
										<el-badge :value="12" />
									</el-dropdown-item>
								</el-dropdown-menu>
							</el-dropdown>
						</el-menu-item>
						<el-menu-item
							index="/soporte"
							class="border-menu-item">Soporte</el-menu-item>
						<el-menu-item
							index="/perfil"
							class="border-menu-item">
							{{ userFullName }}
						</el-menu-item>
						<el-menu-item
							index="#"
							@click="logOut"
							class="border-menu-item">
							<i class="fas fa-sign-out-alt"></i>
							Cerrar sesión
						</el-menu-item>
						</el-submenu>
					</el-menu>
				</el-col>
			</el-row>
		</el-header>
		<el-container>
			<el-aside width="auto">
				<el-menu
					class="el-menu-vertical"
					:collapse="isCollapse"
					:router="true">
					<el-menu-item index="#"
						@click="showAsideMenu">
						<i :class="'el-aside-menu-icon ' + icon"></i>
						<span slot="title">{{ sideMenuText }}</span>
					</el-menu-item>
					<el-menu-item index="/">
						<i class="el-icon-menu"></i>
						<span slot="title">Panel</span>
					</el-menu-item>
					<el-menu-item index="/colectividad">
						<i class="el-aside-menu-icon fas fa-users"></i>
						<span slot="title">Colectividad</span>
					</el-menu-item>
					<el-submenu index="/administration">
						<template slot="title">
							<i class="el-aside-menu-icon fas fa-users"></i>
							<span slot="title">Administración</span>
						</template>
						<el-menu-item index="/administracion/usuarios">Usuarios</el-menu-item>
					</el-submenu>
					<el-submenu index="nomina">
						<template slot="title">
							<i class="el-aside-menu-icon fas fa-address-card"></i>
							<span slot="title">Nómina</span>
						</template>
						<el-menu-item index="/empleados">Empleados</el-menu-item>
						<el-menu-item index="#sincronizar">Sincronizar</el-menu-item>
					</el-submenu>
					<el-menu-item index="/reportes">
						<i class="el-aside-menu-icon fas fa-chart-bar"></i>
						<span slot="title">Reportes</span>
					</el-menu-item>
					<el-menu-item index="/usuarios">
						<i class="el-aside-menu-icon fas fa-key"></i>
						<span slot="title">Usuarios</span>
					</el-menu-item>
					<el-submenu index="aseguradoras">
						<template slot="title">
							<i class="el-aside-menu-icon fas fa-building"></i>
							<span slot="title">Aseguradoras</span>
						</template>
						<el-menu-item index="/aseguradoras">Compañias</el-menu-item>
						<el-menu-item index="#polizas">Pólizas</el-menu-item>
					</el-submenu>
					<el-menu-item index="/configuracion">
						<i class="el-aside-menu-icon fas fa-cog"></i>
						<span slot="title">Configuración</span>
					</el-menu-item>
				</el-menu>
			</el-aside>
			<el-main class="content-wrapper">
				<router-view></router-view>
			</el-main>
		</el-container>
	</el-container>
</template>

<script>

	export default {
		data() {
			return {
				isCollapse: false,
				icon: 'fas fa-angle-left',
				sideMenuText: 'Minimizar'
			};
		},
		computed: {
			userFullName() {
				return this.$store.state.user.fullname;
			}
		},
		methods: {
			goToPanel() {
				this.$router.push('/');
			},
			logOut() {
				var _this = this;
				axios.post('/logout')
				.then( response => {
					if ( response.data.authenticated === false ) {
						localStorage.removeItem('gmm_token');
						localStorage.removeItem('gmm_token_expiration');
						localStorage.removeItem('gmm_keep_session');
						localStorage.removeItem('gmm_user');
						axios.defaults.headers.common = {
							'Authorization': 'Bearer'
						};
						this.deleteUser();
						_this.$router.push('/ingresar');
					} else {
						_this.$message({
							type: 'warning',
							message: 'No fue posible cerrar su sesión, inténtelo nuevamente.'
						});
					}
				});
			},
			goToMovements(){
				this.$router.push('/movimientos');
			},
			showAsideMenu(){
				if(this.isCollapse == true) {
					this.isCollapse = false;
					this.icon = 'fas fa-angle-left';
					this.sideMenuText = 'Minimizar';
				} else {
					this.isCollapse = true;
					this.icon = 'fas fa-angle-right';
					this.sideMenuText = 'Maximizar';
				}
			},
			deleteUser(){
				this.$store.commit('deleteUser');
			}
		}
	}

</script>

<style>
	/* Header with menu */
	.el-header {
		background-color: #434A54;
		border-bottom: 4px solid #E74E4E;
		color: #FFF;
		line-height: 60px;
	}
	.logo-gmm:hover {
		cursor: pointer;
		opacity: 0.75;
	}
	.input-search > input {
		background: #5B6573;
		border: none;
		color: #FFF;
	}
	.header-menu { margin-right: -20px }
	.border-menu-item {
		border-bottom: 4px solid #E74E4E !important;
	}
	.el-badge__content.is-fixed.is-dot { top: 24px; }
	.el-menu-item.border-menu-item.is-active {
		border-bottom: 4px solid #DB2828 !important;
	}
	.el-dropdown-menu.el-popper { text-align: right }
	/* Content */
	.el-container {
		height: 640px;
	}
	/* Side menu */
	.el-aside { height: 100% }
	.el-menu { border: none; }
	.el-menu-vertical:not(.el-menu--collapse) {
		width: 225px;
	}
	.el-aside-menu-icon {
		vertical-align: middle;
		margin-right: 5px;
		width: 24px;
		text-align: center;
		font-size: 18px;
	}
	/* Content wrapper */
	.content-wrapper {
		border: 16px solid #E9EEF3;
		background-color: #FFF;
		height: 100%;
	}
	@media screen and ( min-height: 768px )
	{
		/* Content */
		.el-container { height: 768px }
	}
	@media screen and ( min-height: 896px )
	{
		/* Content */
		.el-container { height: 896px }
	}
	@media screen and ( min-height: 912px )
	{
		/* Content */
		.el-container { height: 912px }
	}
	@media screen and ( min-height: 1024px )
	{
		/* Content */
		.el-container { height: 1024px }
	}
	@media screen and ( min-height: 1180px )
	{
		/* Content */
		.el-container { height: 1180px }
	}
	@media screen and ( min-height: 1280px )
	{
		/* Content */
		.el-container { height: 1280px }
	}
</style>
