<template>
	<el-container class="form-wrapper">
		
		<el-main class="main-form">
			<div class="form-container">
				<div class="center" style="margin-bottom:5em;">
					<img class="logo humanpictos" src="/img/icons/peace/gray/humanpictos.svg" alt="">
					<img class="logo auction" src="/img/icons/peace/gray/auction.svg" alt="">
					<img class="logo equality" src="/img/icons/peace/gray/equality.svg" alt="">
					<img class="logo handshake" src="/img/icons/peace/gray/handshake.svg" alt="">
					<img class="logo human" src="/img/icons/peace/gray/human.svg" alt="">
					<img class="logo human-rights" src="/img/icons/peace/gray/human-rights.svg" alt="">
					<img class="logo peace" src="/img/icons/peace/gray/peace.svg" alt="">
					<img class="logo union" src="/img/icons/peace/gray/union.svg" alt="">
					<img class="logo unity" src="/img/icons/peace/gray/unity.svg" alt="">
					<img class="logo worldwide" src="/img/icons/peace/gray/worldwide.svg" alt="">
				</div>
				<el-row
					type="flex"
					justify="center">
					<el-col :md="14" :lg="10" :xl="4" class="card-box">
						<h3 class="system-name">SISTEMA DE PROTECCIÓN CONSULAR</h3>
						<el-form
							label-position="top">
							<el-form-item>
								<el-input
									type="text"
									placeholder="Usuario"
									v-model="credentials.username">
									<i slot="prefix" class="el-input__icon far fa-user"></i>
								</el-input>
							</el-form-item>
							<br/>
							<el-form-item class="password-input">
								<el-input
									type="password"
									placeholder="Contraseña"
									v-model="credentials.password">
									<i slot="prefix" class="el-input__icon fas fa-key"></i>
								</el-input>
							</el-form-item>
							<el-form-item class="keep-session">
								<el-checkbox v-model="credentials.keepSession">Mantener sesión</el-checkbox>
							</el-form-item>
							<el-button
								type="success"
								style="width: 100%"
								@click="requestAccess">
								Ingresar
							</el-button>
						</el-form>
						<small class="sre-copyright">&copy; 2018 - Secretaría de Relaciones Exteriores</small>
					</el-col>
				</el-row>
			</div>
		</el-main>
	</el-container>
</template>

<script>
	export default {
		data() {
			return {
				credentials: {
					username	: 'hpiedras',
					password	: '1234567',
					keepSession : false
				}
			}
		},
		mounted() {
			this.$message.error('Inicie sesión para continuar');
		},
		methods: {
			requestAccess(){
				axios.post('/login', this.credentials )
				.then( response => {
					if( response.data.authenticated === true ) {
						localStorage.setItem('gmm_token', response.data.gmm_token);
						localStorage.setItem('gmm_token_expiration', response.data.gmm_token_expiration);
						localStorage.setItem('gmm_keep_session', response.data.gmm_keep_session);
						localStorage.setItem('gmm_user', response.data.gmm_user);

						axios.defaults.headers.common = {
							'Authorization': 'Bearer ' + localStorage.getItem('gmm_token')
						};

						this.setUser( response.data.user );
						this.$router.push('/');
					} else {
						this.$message({
							type: 'warning',
							message: 'Usuario o contraseña incorrecta, inténtelo nuevamente.'
						});
					}
				} );
			},
			setUser( user ){
				this.$store.commit('setUser', user);
			},
		}
	}
</script>

<style>
	html, body {
		height: 100%;
		background: #f9f9f9;
	}
	.system-name {
		text-align: center;
		padding-bottom: 1em;
	}
	.form-wrapper {
		height: 100% !important;
	}
	.backgroung-image {
		width: 50% !important;
		background: url('/img/relaciones-exteriores.jpg') no-repeat center center fixed;
		background-size: cover;
		height: 100%;
		overflow: hidden;
	}
	.main-form {
		width: 50%;
		position: relative;
	}
	.form-container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.password-input,
	.keep-session {
		margin-bottom: 0;
	}
	.sre-copyright {
		display: block;
		margin-top: 2em;
		text-align: center
	}
	.logo{
		width: 75px;
		margin-left: 1em;
	}
	.center{
		text-align: center;
	}
	.card-box {
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	  background: #FFF;
	  padding: 2em;
	}

</style>
